@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
}

a{
 text-decoration: none
}

.landing__container {
  height: 90vh;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  top: 0;
  z-index: 999;
  width: 100vw;
  background-color: white;
  height: 30%;
}

.nav__hide.active{
    display: none;
}

.nav ul {
  display: flex;
  gap: 2rem;
  padding: 24px;
}

.nav ul li {
  list-style: none;
  display: flex;
}

.nav img {
  width: 160px;
  padding: 8px;
  border-radius: 100px;
}

/* HIDDEN MENU FROM TOOLBOX */

.ham__menu {
  inline-size: 50px;
  block-size: 50px;
  background-color: white;
  border: 4px solid black;
  border-radius: 5px;
  margin: 4px;
  cursor: pointer;
  z-index: 999;
  position: relative;
}
.bars {
  inline-size: 60%;
  block-size: 6px;
  background-color: black;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 300ms ease;
}

.bars:nth-child(1) {
  top: 25%;
}

.bars:nth-child(3) {
  top: 75%;
}

.ham__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  inline-size: 80px;
  block-size: 80px;
  cursor: pointer;
  z-index: 1000;
  margin: 24px;
}

.ham__menu.active {
  display: none;
}

.hidden__menu.active {
  left: 0;
}

.hidden__menu {

  background-color: white;
  backdrop-filter: blur(10px);
  block-size: 100dvh;
  height: 100vh;
  inline-size: 100vw;
  max-inline-size: 250px;
  position: fixed;
  top: 0%;
  left: -250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  transition: 0.3s ease;
  z-index: 999;

}
.hidden__menu--btn {
  border-radius: 90;
  width: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  right: -80px;
}

.hidden__menu.active {
  left: 0;
}

.login__pic {
  position: relative;
}

.ham__links {
  display: flex;
  list-style: none;
  text-align: center;
  flex-direction: column;
  gap: 2rem;
}

.ham__links li a{
    color: black;
    font-size: 24px;
    text-align: start;
}

.links {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 2;
  font-weight: 700;
  padding-inline: 24px;
 
}

.link {
  text-decoration: none;
  padding-inline: 12px;
  color: black;
  font-size: 18px;
}

.blackout__overlay {
  height: 900vh;
  width: 600vw;
  background-color: rgba(0, 0, 0, 0.705);
  z-index: 998;
  display: none;
  position: absolute;
}

.blackout__overlay.active {
  display: block;
}

.sign__up {
  background-color: tan;
  height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
/*
.sign__up button {
  padding: 12px 32px;
  font-size: 24px;
  border-radius: 4px;
}
*/

.hidden__menu--btn{
  padding: 24px;
  border-radius: 100px;
  font-size: 24px;
}

.hidden__menu--signUp {
  background-color: green;
  color: white;
}

/* MOVIE */

.movie__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  aspect-ratio: 16/9;
  width: 100%;
  container-type: inline-size;
}
.movie__container .credit {
  font-size: 12px;
  pointer-events: none;
}

.movie__container video {
  width: 99%;
  position: absolute;
  z-index: 1;
  object-fit: cover;
}

.movie__overlay {
  pointer-events: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  max-width: 400px;
  line-height: 3rem;
  color: white;
  right: 5%;
  top: 20%;
  text-shadow: 2px 2px 5px black;
  z-index: 2;
  aspect-ratio: 16 / 9;
}

.movie__overlay,
.credit {
  pointer-events: none;
}

.movie__overlay h1 {
  position: absolute;
  left: -200%;
  top: 0%;
  pointer-events: none;
  font-size: clamp(3rem, 2cqw, 2rem);
}
.movie__overlay h2 {
  font-size: clamp(1.4rem, 2cqw, 2rem);
  width: 30cqw;
  padding: 2cqw;
}

/* ENROLL BTN*/

.enroll {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 4rem;
  flex-wrap: wrap;
}

.enroll button {
  padding: 8px 100px;
  border-radius: 4px;
  margin: 12px;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  background: radial-gradient(rgb(14, 14, 209), rgb(130, 130, 236));
  color: white;
  text-shadow: 2px 2px 5px black;
}

/* ABOUT US */

#about {
   margin-block: 24px;
    min-height: 500px;
}

.about__us--title{
      background-image: radial-gradient(rgb(8, 97, 156), rgb(59, 20, 141));
  color: transparent;
  background-clip: text;
  text-shadow: 1px 1px 2px rgba(25, 98, 232, 0.386);
  margin: 24px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about h2 {
  font-size: 48px;
  font-weight: bold;
  color: rgb(13, 13, 153);
}
#about p {
  font-size: 24px;
  line-height: 2rem;
  margin: 32px;
}


#about img {
  width: 350px;
  margin: 12px;
  float: left;
}

.read__more--btn {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 6rem;
  text-decoration: none;
  float: right;
}

.read__more--btn button {
  padding: 12px 24px;
  font-size: 24px;
   text-shadow: 2px 2px 5px black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  background: radial-gradient(rgb(14, 14, 209), rgb(130, 130, 236));
}

.about__Us--Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__Us--Content img{
    width: 500px ;
}


/* ENROLL */



#enroll__sec{
   
   margin-block: 24px;
    display: block;
    background-image: url(./assets/wave__background--nav.jpg);
   color: white;
   min-height: 500px;
   
}

#enroll__sec img{
    width: 300px; 
     float: right;
     margin: 24px;
}

#enroll__sec h1{
    font-size: 3rem;
    margin: 24px;
    color:  white;
    text-shadow: 2px 2px 5px blue;
    font-weight: bold;
}

#enroll__sec p {
    margin-inline: 12px;
    line-height: 2rem;
    font-size: 24px;
}

#enorll__sec button{
     padding: 12px 24px;
  font-size: 24px;
  text-shadow: 2px 2px 5px black;
  color: white;
  border-radius: 4px;
  background: radial-gradient(rgb(14, 14, 209), rgb(130, 130, 236));
}

#enroll__sec .read__more--btn{
    margin-top: 24px;
    cursor: pointer;;
}

/* ENROLLMENT PAGE  */

.coast__crest--logo {
  width: 50vw;
}


.enroll__title{
   background-image: radial-gradient(rgb(8, 97, 156), rgb(59, 20, 141));
  color: transparent;
  background-clip: text;
  text-shadow: 1px 1px 2px rgba(25, 98, 232, 0.386);
  margin: 24px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;

}

.registration {
  background-image: url(pics/seastone__gathering--lone-sunset--pic.jpg);
  block-size: 84vh;
  inline-size: 100vw;
  background-size: cover;
  background-position: center;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration__link {
  font-size: 25px;
  text-decoration: none;
  color: azure;
  font-weight: 900;
  text-shadow: 8px 8px 16px black;
  margin-inline-end: 200px;
  margin-block-end: 200px;
}

.registration__link:hover::after {
  right: 1;
}

.registration__link:hover {
  animation: registration__btn 5s infinite;
  transition: all 700 ease;
}

@keyframes registration__btn {
  0% {
    color: red;
    text-shadow:
      3,
      3,
      5px gold;
  }
  20% {
    color: orange;
    text-shadow:
      3,
      3,
      5px gold;
  }
  40% {
    color: yellow;
    text-shadow:
      3,
      3,
      5px gold;
  }
  60% {
    color: green;
    text-shadow:
      3,
      3,
      5px gold;
  }
  80% {
    color: blue;
    text-shadow:
      3,
      3,
      5px gold;
  }

  100% {
    color: blueviolet;
    text-shadow:
      3,
      3,
      5px gold;
  }
}

.registration__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.registration__info--container {
  display: flex;
  margin: 12px;
  justify-content: space-around;
  flex-wrap: wrap;
  inline-size: 90vw;
  margin: 0 auto;
  inline-size: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

.registration__text,
.about__us--para,
.seastone__family__gathering--para,
.spring__clam--para {
  inline-size: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 24px;
  line-height: 2;
  color: black;
}

.enroll__para {
  font-weight: 400;
  width: 100vw;
}


.enrolment__footer--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-image: url(./assets/wave__background--nav.jpg);
  opacity: 2;
  background-position: center;
  background-size: cover;
  border: 3px solid black;
  width: 100%;
}

.enrolment__btn {
  border: 2px outset black;
  padding: 16px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 5%;
  background: radial-gradient(white, rgb(139, 138, 138));
  cursor: pointer;
  transition: all 300ms ease;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  letter-spacing: 1;
  margin: 8px 0px;
}

.enrolment__btn:hover {
  box-shadow:
    0 0 10px #ede32c,
    0 0 20px #ede32cb8,
    0 0 30px #ede32c7a;
}

/* CLAM CAMP */

#clam__camp{
     margin-block: 24px;
     min-height: 400px;
}

#clam__camp img{
    width: 400px;
    float: left;
    margin-right: 12px;
}

#clam__camp h2{
 font-size: 3rem;
    margin: 24px;
   color: rgb(13, 13, 153);
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
}

#clam__camp p {
     margin-inline: 12px;
    line-height: 2rem;
    font-size: 24px;
}

.clam__camp--banner{
  background-image: radial-gradient(rgb(8, 97, 156), rgb(59, 20, 141));
  color: transparent;
  background-clip: text;
  text-shadow: 1px 1px 2px rgba(25, 98, 232, 0.386);
  margin: 24px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;

}

.spring__clam--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spring__clam--img {
  block-size: auto;
  inline-size: 60vw;
}

.spring__clam--container img{
    width: 600px;
   
}

#clam__camp button{
         padding: 12px 24px;
  font-size: 24px;
  text-shadow: 2px 2px 5px black;
  color: white;
  border-radius: 4px;
  background: radial-gradient(rgb(14, 14, 209), rgb(130, 130, 236));
cursor: pointer;
}

/* CHINOOK */
#chinook__landing{
    margin-block: 40px;
     min-height: 400px;
        background-image: url(./assets/chinook_justice_washington_logo_full_color_1.svg);
    background-size: contain;
}



#chinook__landing figure{
    display: table;
    margin: auto;
    float: right;
    
}

#chinook__landing figcaption{
    display: table-caption;
    caption-side: bottom;
    font-size: 12px;
    text-align: start;
    width: 50%;
    padding: 8px 0;
background-color: rgba(255, 255, 255, 0.936);
   border-radius: 100px;
}

#chinook__landing img{
    width: 400px;
}

#chinook__landing p{
      margin-inline: 12px;
    line-height: 2rem;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.956);
width: 60%;
text-align: center;
border-radius: 50px;
}

.chinook__landing-credit{
    font-size: 8px;
}

#chinook__landing h2{
 font-size: 3rem;
 border-radius: 5px;
 width: 25%;
    margin: 24px;
   color: rgb(23, 68, 204);
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.978);
}

#chinook__landing button{
             padding: 12px 24px;
  font-size: 24px;
  text-shadow: 2px 2px 5px black;
  color: white;
  border-radius: 4px;
  background: radial-gradient(rgb(14, 14, 209), rgb(130, 130, 236));
cursor: pointer;
}

.chinook__para {
  font-size: 24px;
  color: black;
}

.chinook__para--title {
  font-size: 32px;
  color: #c36;
  font-weight: bolder;
  text-align: center;
}

.chinook__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-size: 24px;
  inline-size: 100vw;
  padding: 32px;
  text-decoration: underline rgb(185, 18, 74);
  text-underline-offset: 8px;
}

.chinook__homepage--img {
  inline-size: 100vw;
}

.chinook__link {
  justify-content: space-around;
}

.chinook__link a{
 color:  rgb(185, 18, 74);

}

.chinook__link:hover {
  font-size: 28px;
  transition: all 300ms ease;
}

.chinook__link:hover a {
  color: rgb(175, 44, 87);
}

.chinnook__para--container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chinook__para {
  inline-size: 50vw;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  padding-block: 24px;
}

.chinook__photo--credit {
  text-align: end;
  padding: 0px 24px;
  width: 100vw;
}

/* GALLERY */

.grid-col-span-2{
  grid-column: span 2;
}

.gallery__container{
  display: grid;
  width: 100%;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.gallery__container img{
  max-width: 300px;  

}


/*FOOTER */

footer{
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-block: 24px;
    background-color: black;
    color: white;
}

.footer__brand{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
}

.footer__brand img{
    width: 150px;
    height: 150px;
    border-radius: 200px;
   
}
.footer__brand h1{
    text-align: center;
    font-size: 24px;
    padding-top: 24px;
}

footer ul li, footer ul li a{
color: white;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
        font-size: 18px;
    list-style: none;
    line-height: 3;
}

.contacts__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}


.contact__email{
    text-decoration: underline;
    color: white;
    font-size: 18px;
}

.social__links i{
    font-size: 40px;
}


/* MEDIA */

@media (max-width: 800px) {
  .movie__overlay {
    top: 5%;
  }

  .movie__overlay h1 {
    position: absolute;
    left: -200%;
    top: 0%;
    pointer-events: none;
    font-size: clamp(2rem, 2cqw, 2rem);
  }
  .movie__overlay h2 {
    font-size: clamp(1.1rem, 1cqw, 2rem);
    width: 30cqw;
    padding: 2cqw;
    line-height: 1.5rem;
    top: 0%;
  }



#about, #chinook__landing,#clam__camp, #enroll__sec{
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about img, #chinook__landing figure,#clam__camp img, #enroll__sec img{
    float: none;
   
}

#chinook__landing h2{
    text-align: center;
}



}